db/src/main/resources/schemas/InputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/InputSchema" xmlns:tns="http://www.example.org/InputSchema" elementFormDefault="unqualified">

    <complexType name="inputData">
    	<sequence>
    		<element name="inputNumber" type="int"></element>
    		<element name="inputTime" type="dateTime"></element>
    	</sequence>
    </complexType>

    <element name="input" type="tns:inputData"></element>
</schema>